body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1, #designed-by {
    display: flex;
    justify-content: center;
  }
  
  .style1 {
    background-color: #71816D;
  }
  
  .style2 {
    background-color: #342A21;
  }
  
  .style3 {
    background-color: #DA667B;
  }
  
  .style4 {
    background-color: #C9B79C;
  }
  
  .style5 {
    background-color: #13262F;
  }
  
  .style6 {
    background-color: #E9E6FF;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }
  